@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    color: white;
    font-family: 'Courgette', cursive;}

#body {
    min-height: 100vh;
    background-color: rgb(65, 62, 62);
}

#body-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#main {
    width: 100%;
    display: flex;
    
    justify-content: center;
    height: 100rem;
}
.grid-wrapper {
    width: 40rem;
    height: 40rem;
    border: 2.5rem solid rgb(49, 48, 48);
    border-radius: 12px;
}
.grid-container { 

}
.slider {
    margin: 0.5rem 0;
}

#gridSlider {
    margin-bottom: 2rem;
}
#user-navbar {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    height: 45rem;
    background-color: black;
}
#rgb-preview {
    border: 1px solid white;
    border-radius: 10px;
    align-self: center;
    width: 90%;
    height: 7rem;
    
}

#B {
    margin-bottom: 2rem;
}

.option-button {
    margin: 1rem 0;
    width: 95%;
    align-self: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.2rem;
}